.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ddd;
  padding: 10px;
  border-radius: 8px;
}