.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fcd0ac;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ff9634;
}

h2, input {
  color: #4b4b4b;
}