table, th, td {
  margin: 20px;
  padding: 10px;
  border: 1px solid;
  border-collapse: collapse;
}

table {
  width: 600px;
}

th {
  background: #ddd;
}

td {
  font-size: 14px;
}

p, h2 {
  width: 100%;
  padding: 0 20px;
}

.tableContainer {
  display: flex;
  flex-wrap: wrap;
}